<html>
<head>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("jquery", "1.4");</script>
<script type="text/javascript">google.load("jqueryui", "1.8");</script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/cupertino/jquery-ui.css"/>
<style type="text/css" media="screen">
#sidebar {
  width: 400px;
  float: right;
  margin: 0;
  padding: 0;
}
</style>
<title>Search</title>
</head>
<body>
<script type="text/javascript">
  $(function() {
    $("#accordion").accordion({
      autoHeight: false,
      event: "mouseover"
    });
  });
</script>
<div id='sidebar'>
 <div id='accordion'>
 <% @drawers.each do |drawer| %><%= drawer.to_html(context) %><% end %>
 </div>
</div>
<div>
 <%= @enter.to_div(context) %>
 <%= @list.to_div(context) %>
</div>
</body>
</html>
